[submodule "raspberry-pi"]
	path = raspberry-pi
	url = git@github.com:tankhuu/raspberry-pi.git
[submodule "jenkins"]
	path = jenkins
	url = git@github.com:tankhuu/jenkins.git
[submodule "k8s"]
	path = k8s
	url = git@github.com:tankhuu/k8s.git
